telegram_token: 1818195686:AAFA8p_q62f7Iy5hZsFFTiiaIyQocIRPURM
template_path: "template.tmpl" # your template file name
time_zone: "Europe/Rome" # your time zone check it out from WIKI
split_token: "|" # token used for split measure label.